body {
    font-family: monospace;
    font-size:16px;
    background-color: #282828;
    color: #c0c0c0;
    overflow-x: hidden;
    font-variant-numeric: tabular-nums;
    /*
    background-attachment: fixed;
    background-image: url("images/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    */
  }

  /*
  title colors
  */
  .adjheader{
    font-size: 24px;
    color: #808080;
    text-decoration: none;
  }
  .header{
    font-size:24px;
    color: #c0c0c0;
  }
  .crimsonheader{
    font-size:24px;
    color: #924545;
  }
  .endheader{
    font-size:24px;
    color: #9448a5;
  }
  .denheader{
    font-size:24px;
    color: #a0304a;
  }
  .crystalheader{
    font-size:24px;
    color: #b548e8;
  }
  .indexheader{
    font-size:20px;
    color:#d0d0d0;
  }
  .cataheader {
    font-size:24px;
    color: #704030;
  }
  .riftheader {
    font-size:24px;
    color: #6832c0;
  }
  /*
  blocktypes
  */
  .end_block{
    background-color: #404040;
    border-style: solid;
    border-color: #020202;
    margin: 5px;
    border-spacing: 5px;
    padding: 10px;
    width:min(calc(100% - 30px), max(600px, 40%));
  }
  .spider_block{
    background-color: #404040;
    border-style: solid;
    border-color: #601a14;
    margin: 5px;
    border-spacing: 5px;
    padding: 10px;
    color: #c0c0c0;
    width:min(calc(100% - 30px), max(600px, 40%));
  }
  .blaze_block{
    background-color: #404040;
    border-style: solid;
    border-color: #bd400e;
    margin: 5px;
    border-spacing: 5px;
    padding: 10px;
    width:min(calc(100% - 30px), max(960px, 60%));
  }
  .hub_block{
    background-color: #404040;
    border-style: solid;
    border-color: #808080;
    margin: 5px;
    border-spacing: 5px;
    padding: 10px;
  }
  .navblock {
    z-index:100;
    position:fixed;
    left:50%;
    transform: translateX(-50%);
    width:100%;
    background-color: #404040;
    margin: auto;
    border-spacing: 5px;
    padding: 10px;
    text-align:left;
    font-size:12px;
    height:30px;
    top:-10px;
    outline:2px;
    border-style:solid;
    border-bottom:2px;
  }
  .navbar {
    display:flex;
  }
  .headerpiece {
    border-right-width:2px;
    padding:10px;
  }
  .dwarven_block{
    background-color: #404040;
    border-style: solid;
    border-color: #a0a0a0;
    margin: 5px;
    border-spacing: 5px;
    padding: 10px;
  }
  .crystal_block{
    background-color: #404040;
    border-style: solid;
    border-color: #c2c2c2;
    margin:5px;
    border-spacing:5px;
    padding:10px;
    width:min(calc(100% - 30px), max(600px, 40%));
  }
  .standardwidth{
    width:min(calc(100% - 30px), max(600px, 40%));
    margin:auto;
  }
  input {
    background-color:#686868;
    color: #c0c0c0;
    border-color: #404040;
  }
  select {
    background-color:#686868;
    color: #c0c0c0;
    border-color: #404040;
  }
  /*
  text
  */
  .voidheader{
    font-size:24px;
    color:#a040a8;
  }
  .spiderheader{
    font-size:24px;
    color:#b03840;
  }
  .blazeheader{
    font-size:24px;
    color:#d09000;
  }
  .hubheader{
    font-size:24px;
    color:#35b135;
  }
  .minesheader{
    font-size:24px;
    color:#3890b6;
  }
  .hollowheader{
    font-size:24px;
    color: #60b4ff;
  }
  .fineprint{
    font-size:12px;
    color:#808080;
    margin-bottom:3.5px;
  }
  .metereditem{
    color: #c64fbd;
    font-weight:bold;
  }
  .basictext{
    color: #c0c0c0;
  }
  .meter{
    color: #c0c0c0;
    font-family: Arial, sans-serif;
  }
  .spiderclear{
    color:#48bbff
  }
  .spiderrain{
    color: #475990;
  }
  .spiderthunder{
    color: #d0c826;
  }
  .success{
    color: #488448;
  }
  .errored{
    color: #a40000;
  }
  .flex_align_right{
    display:flex;
    justify-content: flex-end;
  }
  .flex_full_row{
    display:flex;
    flex-basis:100%;
  }
  /*
  Slider logic
  */
  .switchbox{
    position:relative;
    display: inline-block;
    width: 40px;
    height:16px;
    background-color: #c0c0c0;
    border-radius: 20px;
    border:5px;
  }
  .switch input{
    opacity: 0;
    width: 0;
    height: 0;
  }
  .switch{
    position: absolute;
    content:"";
    cursor:pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius:20px;
    background-color:#606060;
    -webkit-transition: 0.4s;
    transition: 0.4s;

  }
  .switch:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius:20px;
    background-color: #c0c0c0;
    -webkit-transition: .4s;
    transition: .4s;
  }
  input:checked + .switch {
    background-color: #48a448;
  }
  input:checked + .switch:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
  }
  .splash{
    font-size:20px;
    color: #f0f050;
  }
  .flex_box_index{
    /*
    background-color: #404040;
    border-style: solid;
    border-color: #808080;
    */
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction:column;
    margin:auto;
    width: min(calc(100% - 30px), max(960px, 70%));

  }
  .flex_index_row{
    /*
    background-color: #404040;
    border-style: solid;
    border-width: 1px;
    border-color: #00ff00;
    */
    display:flex;
    align-items:center;
    justify-content: space-evenly;
    flex-direction:row;

  }
  .fishbox{
    position:relative;
    display:flex;
    align-items:center;
    justify-content: space-evenly;
    flex-direction:row;
    width:50px;
    height:50px;
    border-style: solid;
    border-color: #808080;
  }
  .fishbox .fishboxtext {
    visibility: hidden;
    background-color: #282828;
    width: min(calc(600%), max(400px, 30%));
    padding: 10px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    opacity:0;
    transition: opacity 0.1s;
  }
  .fishbox .fishboxtext::after {
    margin-left: 200px;
    border-width: 400px;
    border-style: solid;
    border-color: #282828;
  }
  .fishbox:hover .fishboxtext {
    visibility: visible;
    opacity: 1;
  }

  .fishbox.none {
    border: dashed #555;
  }

  .fishbox.bronze {
    border: solid #555;
  }

  .fishbox.silver {
    border: solid #aaa;
  }

  .fishbox.gold {
    border: solid #fa0;
  }

  .fishbox.diamond {
    border: solid #5ff;
  }

  .flex_index_box{
    background-color: #404040;
    border-style: solid;
    border-color: #808080;
    text-justify: auto;
    margin: 10px;
    border-spacing: 5px;
    padding: 10px;
    display:flex;
    flex-wrap:wrap;
  }
  .index_box {
    background-color: #404040;
    border-style: solid;
    border-color: #808080;
    text-justify: auto;
    margin: 10px;
    border-spacing: 5px;
    padding: 10px;
  }
  .flex_index_box_big {
    background-color: #404040;
    border-style: solid;
    border-color: #808080;
    text-justify: auto;
    margin: 10px;
    border-spacing: 5px;
    padding: 10px;
    display:flex;
    flex-wrap:wrap;
  }
  .flex_index_box_small {
    background-color: #404040;
    border-style: solid;
    border-color: #808080;
    text-justify: auto;
    margin: 10px;
    border-spacing: 5px;
    padding: 10px;
    display:flex;
    flex-wrap:wrap;
  }
  .flex_box_cata{
    /*
    background-color: #504030;
    border-style: solid;
    border-color: #808080;
    */
    flex-wrap:wrap;
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction:column;
    margin:auto;
    width: min(calc(100% - 30px), max(600px, 70%));

  }
  .flex_cata_box{
    min-height:280px;
    background-color: #503020;
    border-style: solid;
    border-color: #808080;
    text-justify: auto;
    margin: 5px;
    border-spacing: 5px;
    padding: 10px;
    display:flex;
    flex-wrap:wrap;
  }
  .rift_box{
    background-color: #38285c;
    border-style: solid;
    border-color: #5e15a8;
  }
  .limbo_row{
    display:flex;
    align-items:center;
    justify-content: space-around;
    flex-direction:row;
  }
  .limbo_box{
    background-color: #404040;
    border-style: solid;
    border-color: #808080;
    margin: 5px;
    border-spacing: 5px;
    padding: 5px;
    display:flex;
    align-items:center;
    flex-direction:row;
    transition-duration:0.25s;
    position:absolute;
    top: 0;
    left: 0;
    text-align: center;
    justify-content: center;
  }
  /* I stole this from BrookeAFK */
  .tip {
    position: relative;
    border-bottom: 1px dotted #ffffff88;
    cursor: help;
  }

  .tip .tiptext {
    visibility: hidden;
    word-wrap: break-word;
    width: 160px;
    background-color: #000000cc;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: -85px;
    padding: 10px;
    font-weight: 400;
    font-style: oblique;
    color: #fff;
    opacity: 0;
    transition: opacity 0.4s;
  }
  .tip .tiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #00000088 transparent transparent transparent;
  }
  .tip:hover .tiptext, .tip:active .tiptext {
    visibility: visible;
  }

  .tip:hover .tiptext {
    opacity: 1;
  }
  .flex_forge_box{
    background-color: #404040;
    text-justify: auto;
    margin: 5px;
    padding: 5px;
    display:flex;
    flex-wrap:wrap;
  }
  .hovertext {
    text-decoration: underline;
    color:#c0c0c0;
  }
  .hovertext:hover {
    color:#e0e0e0;
  }

  /* thanks brooke */

  .upperRightIcon {
    z-index: 2;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    left: 12px;
    position: relative;
    bottom: 12px;
    text-shadow: 0px 0px 5px black, 0px 0px 5px black;
  }
  .upperRightIconSmall {
    z-index: 2;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    left: 10px;
    position: relative;
    bottom: 16px;
    text-shadow: 0px 0px 5px black, 0px 0px 5px black;
  }
  .tdalignright {
    text-align: right;
    align-items: right;
  }
  .metercase {
    width:400px;
    height: 16px;
    background-color: #808080;
    border-radius: 4px;
    position: absolute;
  }
  .meterfill {
    height:16px;
    border-radius: 4px;
    position: absolute;
  }
  @keyframes fadeOut {
      0% {
          opacity: 1;
      }
      100% {
          opacity: 0;
      }
  }

  .fadebox {
      color: #c0c0c0;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .fadebox.fade {
      animation: fadeOut 2s forwards;
  }
  .melodytrack {
    position:relative;
    display:flex;
    align-items:center;
    justify-content: space-evenly;
    flex-direction:row;
    width:50px;
    height:400px;
  }

  .ripple {
    width: 40px;
    height: 40px;
    border-width: 5px;
    border-radius: 5px;
    transition: all 1s ;
    border-color: #f6adc6;
    border-style:solid;
    margin:auto;
    z-index:-20;
    pointer-events: none;
  }
  .ripple.expanded {
    width: 60px;
    height: 60px;

    animation: fadeExpand 1s forwards ;
  }
  @keyframes fadeExpand {
    0% {
        opacity: 1;
        width:40px;
        height:40px;
        transform: translateX(0px) translateY(125px);
    }
    100% {
        opacity: 0;
        width:60px;
        height:60px;
        transform: translateX(0px) translateY(125px);
    }
}
.cassette{
  background-color: #e0e0e0;
  writing-mode:vertical-rl;
  color: #202020;
  padding: 4px;
  margin: 0px;
  border: 2px solid #101010;
  height: 200px;
}
.uninteractable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/*
This code is copied from Alvaro Montoro.
*/
@keyframes firework {
  0% { transform: translate(var(--x), var(--initialY)); width: var(--initialSize); opacity: 1; }
  50% { width: 0.5vmin; opacity: 1; }
  100% { width: var(--finalSize); opacity: 0; }
}

.firework,
.firework::before,
.firework::after
{
  --initialSize: 1.25vmin;
  --finalSize: 90vmin;
  --particleSize: 0.4vmin;
  --color1: yellow;
  --color2: khaki;
  --color3: white;
  --color4: lime;
  --color5: gold;
  --color6: mediumseagreen;
  --y: -45vmin;
  --x: -50%;
  --initialY: 60vmin;
  content: "";
  animation: firework 2s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, var(--y));
  width: var(--initialSize);
  aspect-ratio: 1;
  background:

    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 50% 0%,
    radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 100% 50%,
    radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 50% 100%,
    radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 0% 50%,

    /* bottom right */
    radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 80% 90%,
    radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 95% 90%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 90% 70%,
    radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 100% 60%,
    radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 55% 80%,
    radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 70% 77%,

    /* bottom left */
    radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 22% 90%,
    radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 45% 90%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 33% 70%,
    radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 10% 60%,
    radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 31% 80%,
    radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 28% 77%,
    radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 13% 72%,

    /* top left */
    radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 80% 10%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 95% 14%,
    radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 90% 23%,
    radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 100% 43%,
    radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 85% 27%,
    radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 77% 37%,
    radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 60% 7%,

    /* top right */
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 22% 14%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 45% 20%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 33% 34%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 10% 29%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 31% 37%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 28% 7%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 13% 42%
    ;
  background-size: var(--initialSize) var(--initialSize);
  background-repeat: no-repeat;
}

.firework::before {
  --x: -50%;
  --y: -50%;
  --initialY: -50%;
/*   transform: translate(-20vmin, -2vmin) rotate(40deg) scale(1.3) rotateY(40deg); */
  transform: translate(-50%, -50%) rotate(40deg) scale(1.3) rotateY(40deg);
/*   animation: fireworkPseudo 2s infinite; */
}

.firework::after {
  --x: -50%;
  --y: -50%;
  --initialY: -50%;
/*   transform: translate(44vmin, -50%) rotate(170deg) scale(1.15) rotateY(-30deg); */
  transform: translate(-50%, -50%) rotate(170deg) scale(1.15) rotateY(-30deg);
/*   animation: fireworkPseudo 2s infinite; */
}

.firework:nth-child(2) {
  --x: 30vmin;
}

.firework:nth-child(2),
.firework:nth-child(2)::before,
.firework:nth-child(2)::after {
  --color1: pink;
  --color2: violet;
  --color3: fuchsia;
  --color4: orchid;
  --color5: plum;
  --color6: lavender;
  --finalSize: 40vmin;
  left: 30%;
  top: 60%;
  animation-delay: -0.25s;
}

.firework:nth-child(3) {
  --x: -30vmin;
  --y: -50vmin;
}

.firework:nth-child(3),
.firework:nth-child(3)::before,
.firework:nth-child(3)::after {
  --color1: cyan;
  --color2: lightcyan;
  --color3: lightblue;
  --color4: PaleTurquoise;
  --color5: SkyBlue;
  --color6: lavender;
  --finalSize: 35vmin;
  left: 70%;
  top: 60%;
  animation-delay: -0.4s;
}


header {
  background-color: #303030; /* Dark background */
  color: #808080;
  padding: 10px 0; /* Vertical padding */
  align-items: first baseline;
}

.main-nav {
  display: flex;
  justify-content: left; /* Center the menu in the header */

}

.menu {
  display: flex;
  list-style: none; /* Remove default bullets */
  padding: 0;
  margin: 0;
  width:70%;
}

.menu-item {
  position: relative; /* Needed for dropdown positioning */
  flex: 1; /* Equal width for each menu item */
  text-align: center;
  width:200%;
  z-index:99997;
}

.menu-item a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #c0c0c0;
  font-size: 12px;

}
.menu-item span {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #c0c0c0;
  font-size: 18px;

}

.menu-item a:hover {
  background-color: #555; /* Change background on hover */
}


.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #444;
  list-style: none;
  padding: 0;
  margin: 0;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown li {
  text-align: center;
  font-size:12px;
}

.dropdown a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: white;
}

.dropdown a:hover {
  background-color: #555;
}

.menu-item:hover .dropdown {
  display: block;
}

td:has(> span.basictext):nth-child(2) {
  text-align: right;
}


@keyframes fadeColor {
  0% {
    color: #c0c0c0;
  }
  50% {
    color: #ff0000;
  }
  100% {
    color: #c0c0c0;
  }
}

.fadeRed {
  animation: fadeColor 3s infinite;
}

.marquee {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.marquee-content {
    display: inline-block;
    white-space: nowrap;
    animation: marquee 15s linear infinite;
}

@keyframes marquee {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-200%);
    }
}

.minionbox {
    display: inline-block;
    border: solid 2px;
    width: 22.5%

}

.selectorspan {
  display:flex;
  flex-basis:100%;
}


@media only screen and (max-width: 768px) {
  .minionbox {
    width: 45%;
  }
}

.logo{
  align-items:center;
  justify-content: space-evenly;
  flex-direction:row;
}
.logo .logotext {
  visibility:hidden;
  transform:translateY(330px);
  background-color: #282828;
  width: min(calc(600%), max(600px, 40%));
  padding: 10px;
  position: absolute;
  z-index: 9999999999999;
  bottom: 125%;
  opacity: 0;
  transition: opacity 0.1s;
}
.logo .logotext::after {
  margin-left: 200px;
  border-width: 400px;
  border-style: solid;
  border-color: #282828;
}
.logo:hover .logotext {
  visibility: visible;
  opacity: 1;
}

.hover-brighten {
  transition: filter 0.1s ease-in-out;
}

.hover-brighten:hover {
  filter: brightness(1.5);
}

.greenhouserow {
  display: flex;
  flex-direction: row;
}
.greenhousebox {
    position:relative;
    display:flex;
    align-items:center;
    justify-content: space-evenly;
    flex-direction:row;
    width:50px;
    height:50px;
    border-style: solid;
    border-color: #808080;
}

.boximage {
  height: 100%;
  width: 100%;
  position: absolute;

}