body {
    font-family: monospace;
    font-size:16px;
    background-color: #282828;
    color: #c0c0c0;
    /*
    background-attachment: fixed;
    background-image: url("images/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    */
  }
  /*
  title colors
  */
  .adjheader{
    font-size: 24px;
    color: #808080;
    text-decoration: none;
  }
  .header{
    font-size:24px;
    color: #c0c0c0;
  }
  .crimsonheader{
    font-size:24px;
    color: #924545;
  }
  .endheader{
    font-size:24px;
    color: #9448a5;
  }
  .denheader{
    font-size:24px;
    color: #a0304a;
  }
  .crystalheader{
    font-size:24px;
    color: #b548e8;
  }
  .indexheader{
    font-size:20px;
    color:#d0d0d0;
  }
  .cataheader {
    font-size:24px;
    color: #704030;
  } 
  .riftheader {
    font-size:24px;
    color: #6832c0;
  }
  /*
  blocktypes
  */
  .end_block{
    background-color: #404040;
    border-style: solid;
    border-color: #020202;
    margin: 5px;
    border-spacing: 5px;
    padding: 10px;
    width:min(calc(100% - 30px), max(600px, 40%));
  }
  .spider_block{
    background-color: #404040;
    border-style: solid;
    border-color: #601a14;
    margin: 5px;
    border-spacing: 5px;
    padding: 10px;
    color: #c0c0c0;
    width:min(calc(100% - 30px), max(600px, 40%));
  }
  .blaze_block{
    background-color: #404040;
    border-style: solid;
    border-color: #bd400e;
    margin: 5px;
    border-spacing: 5px;
    padding: 10px;
    width:min(calc(100% - 30px), max(600px, 40%));
  }
  .hub_block{
    background-color: #404040;
    border-style: solid;
    border-color: #808080;
    margin: 5px;
    border-spacing: 5px;
    padding: 10px;
  }
  .navblock{
    background-color: #404040;
    border-style: solid;
    border-color: #808080;
    margin: auto;
    border-spacing: 5px;
    padding: 10px;
    text-align:left;
    font-size:12px;
  }
  .dwarven_block{
    background-color: #404040;
    border-style: solid;
    border-color: #a0a0a0;
    margin: 5px;
    border-spacing: 5px;
    padding: 10px;
  }
  .crystal_block{
    background-color: #404040;
    border-style: solid;
    border-color: #c2c2c2;
    margin:5px;
    border-spacing:5px;
    padding:10px;
    width:min(calc(100% - 30px), max(600px, 40%));
  }
  .standardwidth{
    width:min(calc(100% - 30px), max(600px, 40%));
    margin:auto;
  }
  input {
    background-color:#686868;
    color: #c0c0c0;
    border-color: #404040;
  }
  select {
    background-color:#686868;
    color: #c0c0c0;
    border-color: #404040;
  }
  /*
  text
  */
  .voidheader{
    font-size:24px;
    color:#a040a8;
  }
  .spiderheader{
    font-size:24px;
    color:#b03840;
  }
  .blazeheader{
    font-size:24px;
    color:#d09000;
  }
  .hubheader{
    font-size:24px;
    color:#35b135;
  }
  .minesheader{
    font-size:24px;
    color:#3890b6;
  }
  .hollowheader{
    font-size:24px;
    color: #60b4ff;
  }
  .fineprint{
    font-size:12px;
    color:#808080;
    margin-bottom:3.5px;
  }
  .metereditem{
    color: #c64fbd;
    font-weight:bold;
  }
  .basictext{
    color: #c0c0c0;
  }
  .meter{
    color: #c0c0c0;
    font-family: Arial, sans-serif;
  }
  .spiderclear{
    color:#48bbff
  }
  .spiderrain{
    color: #475990;
  }
  .spiderthunder{
    color: #d0c826;
  }
  .success{
    color: #488448;
  }
  .errored{
    color: #a40000;
  }
  .flex_align_right{
    display:flex;
    justify-content: flex-end;
  }
  .flex_full_row{
    display:flex;
    flex-basis:100%;
  }
  /*
  Slider logic
  */
  .switchbox{
    position:relative;
    display: inline-block;
    width: 40px;
    height:16px;
    background-color: #c0c0c0;
    border-radius: 20px;
    border:5px;
  }
  .switch input{
    opacity: 0;
    width: 0;
    height: 0;
  }
  .switch{
    position: absolute;
    content:"";
    cursor:pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius:20px;
    background-color:#606060;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    
  }
  .switch:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius:20px;
    background-color: #c0c0c0;
    -webkit-transition: .4s;
    transition: .4s;
  }
  input:checked + .switch {
    background-color: #48a448;
  }
  input:checked + .switch:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
  }
  .splash{
    font-size:20px;
    color: #f0f050;
  }
  .flex_box_index{
    /*
    background-color: #404040;
    border-style: solid;
    border-color: #808080;
    */
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction:column;
    margin:auto;
    width: min(calc(100% - 30px), max(960px, 70%));
    
  }
  .flex_index_row{
    /*
    background-color: #404040;
    border-style: solid;
    border-width: 1px;
    border-color: #00ff00;
    */
    display:flex;
    align-items:center;
    justify-content: space-evenly;
    flex-direction:row;
    
  }
  .fishbox{
    position:relative;
    display:flex;
    align-items:center;
    justify-content: space-evenly;
    flex-direction:row;
    width:50px;
    height:50px;
    border-style: solid;
    border-color: #808080;
  }
  .fishbox .fishboxtext {
    visibility: hidden;
    background-color: #282828;
    width: min(calc(600%), max(400px, 30%));
    padding: 10px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    opacity:0;
    transition: opacity 0.1s;
  }
  .fishbox .fishboxtext::after {
    margin-left: 200px;
    border-width: 400px;
    border-style: solid;
    border-color: #282828;  
  }
  .fishbox:hover .fishboxtext {
    visibility: visible;
    opacity: 1;
  }

  .flex_index_box{
    background-color: #404040;
    border-style: solid;
    border-color: #808080;
    text-justify: auto;
    margin: 10px;
    border-spacing: 5px;
    padding: 10px;
    display:flex;
    flex-wrap:wrap;
  }

  .flex_index_box_big {
    background-color: #404040;
    border-style: solid;
    border-color: #808080;
    text-justify: auto;
    margin: 10px;
    border-spacing: 5px;
    padding: 10px;
    display:flex;
    flex-wrap:wrap;
  }
  .flex_index_box_small {
    background-color: #404040;
    border-style: solid;
    border-color: #808080;
    text-justify: auto;
    margin: 10px;
    border-spacing: 5px;
    padding: 10px;
    display:flex;
    flex-wrap:wrap;
  }
  .flex_box_cata{
    /*
    background-color: #504030;
    border-style: solid;
    border-color: #808080;
    */
    flex-wrap:wrap;
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction:column;
    margin:auto;
    width: min(calc(100% - 30px), max(600px, 70%));
    
  }
  .flex_cata_box{
    min-height:280px;
    background-color: #503020;
    border-style: solid;
    border-color: #808080;
    text-justify: auto;
    margin: 5px;
    border-spacing: 5px;
    padding: 10px;
    display:flex;
    flex-wrap:wrap;
  }
  .rift_box{
    background-color: #38285c;
    border-style: solid;
    border-color: #5e15a8;
  }
  .limbo_row{
    display:flex;
    align-items:center;
    justify-content: space-around;
    flex-direction:row;
  }
  .limbo_box{
    background-color: #404040;
    border-style: solid;
    border-color: #808080;
    margin: 5px;
    border-spacing: 5px;
    padding: 5px;
    display:flex;
    align-items:center;
    flex-direction:row;
    transition-duration:0.25s;
    position:absolute;
    top: 0;
    left: 0;
    text-align: center;
    justify-content: center;
  }
  /* I stole this from BrookeAFK */
  .tip {
    position: relative;
    border-bottom: 1px dotted #ffffff88;
    cursor: help;
  }
  
  .tip .tiptext {
    visibility: hidden;
    word-wrap: break-word;
    width: 160px;
    background-color: #000000cc;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: -85px;
    padding: 10px;
    font-weight: 400;
    font-style: oblique;
    color: #fff;
    opacity: 0;
    transition: opacity 0.4s;
  }
  .tip .tiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #00000088 transparent transparent transparent;
  }
  .tip:hover .tiptext, .tip:active .tiptext {
    visibility: visible;
  }
  
  .tip:hover .tiptext {
    opacity: 1;
  }
  .flex_forge_box{
    background-color: #404040;
    text-justify: auto;
    margin: 5px;
    padding: 5px;
    display:flex;
    flex-wrap:wrap;
  }

  