body {
    font-family: Roboto, Manrope, monospace;
    background-attachment: fixed;
    background-image: url("images/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  /*
  title colors
  */
  .adjheader{
    font-size: 24px;
    color: #808080;
  }
  .header{
    font-size:24px;
    color: #000000;
  }
  .crimsonheader{
    font-size:24px;
    color: #722525;
  }
  .endheader{
    font-size:24px;
    color: #9448a5;
  }
  .denheader{
    font-size:24px;
    color: #602438;
  }
  /*
  blocktypes
  */
  .end_block{
    border-style: solid;
    border-color: #020202;
    margin: 5px;
    border-spacing: 5px;
    padding: 10px;
  }
  .spider_block{
    border-style: solid;
    border-color: #600020;
    margin: 5px;
    border-spacing: 5px;
    padding: 10px;
  }
  .blaze_block{
    border-style: solid;
    border-color: #bd400e;
    margin: 5px;
    border-spacing: 5px;
    padding: 10px;
  }
  .hub_block{
    border-style: solid;
    border-color: #808080;
    margin: 5px;
    border-spacing: 5px;
    padding: 10px;
  }
  .navblock{
    text-align:center;
    font-size:12px;
    
  }
  /*
  text
  */
  .voidheader{
    font-size:24px;
    color:#603070;
  }
  .spiderheader{
    font-size:24px;
    color:#501010;
  }
  .blazeheader{
    font-size:24px;
    color:#d09000;
  }
  .hubheader{
    font-size:24px;
    color:#606060;
  }
  .fineprint{
    font-size:12px;
    color:#808080;
  }
  .metereditem{
    color: #c64fbd;
    font-weight:bold;
  }
  .basictext{
    color: #000000;
  }
  .meter{
    font-family: Arial, sans-serif;
  }
  .spiderclear{
    color:#48bbff
  }
  .spiderrain{
    color: #475990;
  }
  .spiderthunder{
    color: #c0b836;
  }

  